<ion-view view-title="主页">
  <ion-header-bar class="bar bar-header bar-positive">
    <div class="buttons">
      <button class="button" ng-click="">左侧按钮</button>
    </div>
    <div class="title">主页</div>
    <div class="buttons">
      <button class="button">右侧按钮</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <button class="button button-dark" ng-click="demo1()" style="height: 100px;width: 100%;margin-top: 10px">
      demo1
    </button>
    <button class="button button-dark" ng-click="demo2()" style="height: 100px;width: 100%;margin-top: 10px">
      demo2
    </button>
  </ion-content>

</ion-view>
